a:not([href]):not([tabindex]) {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/pow-star.png);
}

.container {
    width: 100%;
}

footer {
    background-color: #666666;
    margin-top: 50px;
    border-top: 8px solid #4aaaa5;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  
.footertext{
    color: #cccccc;
    text-align: center;
    font-size: 70%;
    padding-bottom: 5px;
}

.form-group {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

h1 {
    color:#ffffff;
}

h2 {
    flex: initial;
    color:#4aaa;
    font-size: 36.6px;
    padding-left: 75px;
    padding-right: 50px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
}

img {
    padding: 20px;
}

.maincontent {
    max-width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 20px;
    border: 1px solid #cccccc;
    padding-bottom: 200px;
}

.maincontent2 {
    display: flex;
    align-items: flex-start;
}

.media {
    display: flex;
    align-items: flex-start;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    display: block;
    width: 300px;
    float: left;
    font-size: 24pt;
    font-weight: bold;
    padding-right: 25px;
    padding-left: 25px;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 20px;
    width: 100%;
    border-color: #cccccc;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    color: #666666;
}

.nav-link {
    color: #666666;
}

p {
    line-height: 2;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 200px;
}

.portfolioimage {
    width: 300px;
}

.row {
    display: inherit;
}

ul {
    margin-right: 80px;
    color: #cccccc;
}